<h1>Create new Restaurant</h1>

<form action="create" method='post'>
  <p><input type="text" name='name' placeholder="Restaurant Name"></p>
  <p><input type="text" name='address' placeholder="Restaurant Address"></p>
  <p><input type="text" name='rating' placeholder="Restaurant Rating"></p>
  <p><button type='submit'>Save</button></p>

</form>